mat-card {
  margin-top: 30px;
}

mat-card, form {
  display: flex;
  flex-direction: column;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
