<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input
          name="email"
          ngModel
          type="email"
          #emailInput="ngModel"
          matInput
          placeholder="E-mail"
          required
          email
        >
        <mat-error *ngIf="emailInput.invalid">Invalid e-mail</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          name="password"
          ngModel
          type="password"
          #passwordInput="ngModel"
          matInput
          placeholder="Password" 
          required
        />
        <mat-error *ngIf="">Invalid password</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="primary">Login</button>
    </form>
  </mat-card>